<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133530479939-l9of57s2po4c2aj28d6n6jule2dpdsj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133530479939-l9of57s2po4c2aj28d6n6jule2dpdsj1</string>
	<key>API_KEY</key>
	<string>AIzaSyBxmBsSp8QHRdU_mmR8fTsS516vZhe5ey0</string>
	<key>GCM_SENDER_ID</key>
	<string>133530479939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crazyDrive</string>
	<key>PROJECT_ID</key>
	<string>crazydrive-8803d</string>
	<key>STORAGE_BUCKET</key>
	<string>crazydrive-8803d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133530479939:ios:693478eb3cf47dd3fc93f6</string>
</dict>
</plist>